.skillEach {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 250px;
    background-color: rgba(121, 121, 243, 0.32);
}

.skillPic {
    width: 50px;
    height: 50px;
    background-color: rgba(51, 45, 72, 0.32);
}
.titileSkill , .descriptionSkill {
    background-color: rgb(206, 207, 248);
}
