.projectContainer {
    width: 350px;
    height: 100%;
}
.projectImg {
    background-color: #888888;
    width: 100%;
    height: 250px;
    position: relative;
    display: flex;
}

.btnShowProject {
    position: absolute;
    background-color: rgba(95, 22, 222, 0.32);
    left: 40%;
    top: 50%;
}
.descriptionProject {
    text-align: center;
}